:root{
  --color1:rgba(115, 115, 115, 1);
  --color2: rgba(37, 43, 66, 1);
  --color3: rgba(13, 92, 99, 1);
  --color4: rgba(255, 123, 71, 1);
  --color5:rgba(255, 255, 255, 1);
  --size1: 14px;
  --size2: 16px;
  --size3: 20px;
  --size4: 24px;
  --size5: 40px;
  --weight1: 500;
  --weight2: 600;
  --weight3: 700;
  --weight4: 800;
}
*,
*::after,
*::before{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color:inherit;
}
html{
  height: 100%;
}
body{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2px;
  font-size: var(--size1);
  font-weight: var(--weight3);
  color: var(--color1);
}
.wrapper{
  min-height: 100%;
}
.container{
  max-width: 1043px;
  margin: 0 auto;
}
@media (max-width:1024px) {
  .container{
  max-width: 90%;
 }
}
@media (max-width:500px) {
  .container{
  max-width: 90%;
 }
}

/* HEADER */

.header {
  width: 100%;
  height: 793px;
  margin: 0 auto;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
@media (max-width:1024px) {
  .header {
    height: 500px;
  }
}
@media (max-width:500px) {
  .header {
    height: 500px;
    background-size:contain;
  }
}
.burger{
  display: none;
}
@media (max-width:500px) {
  .burger{
    display: block;
  }
  .burger__list{
    position: fixed;
    top: 0;
    right:-500px;
    background-color:#fff;
    width: 100vw;
    height: 100vh;
    font-size: var(--size4);
    line-height: 65px;
    text-align: center;
    padding-top: 100px;
    z-index: 50;
    transition: 0.7s;
  }
  .burger__icon{
    display: none;
  }
  .burger__logo{
    margin-left: 5px;
    margin-top: 10px;
  }
  [for=burger]{
    display: block;
    position: fixed;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 23px;
    right: 5px;
    top: 10px;
    color:var(--color2);
    z-index: 100;
  }
  [for=burger]::before{
    content:"\2261";
    font-size: 30px;
  }
  #burger:checked + label + .burger__list{
    right: 0;
  }
  #burger:checked + [for=burger]::before{
    content:"\00D7";
    font-size: 30px;
  }
}
.header__nav {
  height: 104px;
}
@media (max-width:1024px) {
  .header__nav {
    height: 70px;
  }
}
.nav {
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 187px) minmax(auto, 863px) 1fr;
  align-items: center;
}
@media (max-width:500px) {
  .nav {
    display: none;
  }
}
.nav__logo {
  width: 187px;
  height: 58px;
  grid-column:2/3;
  display: flex;
  align-items: center;
}
.nav__list {
  display: grid;
  grid-template: 1fr/repeat(4,minmax(45px,auto)) +1fr;
  grid-auto-flow: column;
  column-gap: 24px;
  justify-items: start;
  grid-column: 3/4;
  padding-left: 36px;
}
.nav__item {
  font-family: inherit;
  line-height: 24px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.nav__item a{
  display: block;
  width: 100%;
  height: 100%;
}
.nav__item:focus,
.nav__item:hover {
  color:var(--color2);
}
.nav__item:focus:after,
.nav__item:hover:after {
  width: 100%;
  left: 0%;
}
.nav__item:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* HEADER__INTRODUCE */

.header__introduce {
  max-width: 509px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 80px 0;
}
@media (max-width:1024px) {
  .header__introduce {
    max-width: 55%;
    margin: 20px 0;
  }
}
@media (max-width:500px) {
  .header__introduce {
    max-width: 95%;
  }
}
.introduce__title {
  font-size: 58px;
  line-height: 80px;
  font-weight: 800;
  color: var(--color2);
}
@media (max-width:1024px) {
  .introduce__title {
    font-size: 45px;
    line-height: 55px;
  }
}
@media (max-width:500px) {
  .introduce__title {
    max-width: 70%;
    font-size: var(--size4);
    line-height: 42px;
  }
}
.introduce__text {
  width: 375px;
  font-size: var(--size3);
  font-weight: var(--weight1);
  margin: 35px 0;
  line-height: 30px;
  word-spacing: 8px;
}
@media (max-width:1024px) {
  .introduce__text {
    margin: 20px 0;
  }
}
@media (max-width:500px) {
  .introduce__text {
    width: 70%;
    line-height: 25px;
    margin-top:15%;
  }
}
.introduce__buttons{
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}
.introduce__button {
  display: flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  width:157px;
  height: 48px;
  border: 1px solid var(--color3);
  border-radius: 37px;
  background-color: transparent;
  font-weight: 700;
  color:var(--color3);
  transition: 0.4s;
}
.introduce__button_active{
  width: 187px;
  color:var(--color5);
  transition: .4s;
}
.introduce__button_active,
.introduce__button:hover {
  border: 1px solid var(--color4);
  background-color:var(--color4);
  color:var(--color5);
}
.introduce__button_active:hover {
  transition: .4s;
  border: 2px dashed rgba(255, 123, 71, 1);
  background-color: #fff;
  color: rgba(255, 123, 71, 1);
}

/* MAIN */
/* SECTION BRAND */

.items {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
@media (max-width:1024px) {
  .items {
    column-gap: 15px;
  }
}
@media (max-width:500px) {
  .items {
    flex-direction: column;
    row-gap: 20px;
  }
}
.brand{
  position: relative;
  top: -110px;
  left: 0;
  margin-bottom: -100px;
}
@media (max-width:1024px) {
  .brand{
    top: -45px;
    margin-bottom: 0;
  }
}
@media (max-width:500px) {
  .brand{
    margin-bottom: -50px;
  }
}
.brand__item {
  flex: 1;
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  background-color: #fff;
  box-shadow: 0 13px 19px -7px #000;
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width:1024px) {
  .brand__item {
    padding: 35px 15px;
  }
}
.brand__title {
  font-size: var(--size4);
  color:var(--color2);
  font-weight: 700;
  transition: 0.5s;
}
@media (max-width:1024px) {
  .brand__title {
    font-size: var(--size3);
  }
}
.brand__text{
  color: var(--color1);
  transition: 0.5s;
}
.brand__item:hover{
  background-color: var(--color3);
  box-shadow:none;
}
.brand__item:hover .brand__title,
.brand__item:hover .brand__text{
  color:var(--color5);
}
.brand__item:hover .brand__icon img{
  filter:brightness(25)
}
.brand__item:nth-child(3) .brand__icon img{
  filter: invert(26%) sepia(15%) saturate(5260%) hue-rotate(152deg) brightness(35%) contrast(90%);
  transition: 0.5s;
}
.brand__item:nth-child(3):hover .brand__icon img{
  filter: none;
}

/* SECTION EXPERIENCE */

.advice,
.about,
.getInTouch{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  padding: 80px 0;
  background-color: #fafafa;
}
.title{
  display: flex;
  flex-direction: column;
  align-items:center;
  row-gap: 10px;
  background-color: inherit;
}
.title__title{
  font-size: var(--size5);
  color: var(--color2);
  line-height: 57px;
}
@media (max-width:500px) {
  .title__title{
    font-size: 30px;
    line-height: 40px;
  }
}
.title__subtitle {
  max-width: 510px;
  font-weight: 500;
  line-height: 20px;
}
.experience{
  padding: 80px 0;
  text-align: center;
}
@media (max-width:500px) {
  .experience{
    padding: 60px 0;
  }
}
.experience__items {
  width: 100%;
  margin-top: 50px;
  column-gap:42px;
}
@media (max-width:1024px) {
  .experience__items {
    column-gap:20px;
  }
}
.experience__item {
  padding: 30px 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  row-gap: 10px;
  background-color: #fff;
}
@media (max-width:1024px) {
  .experience__item {
    padding: 30px 15px;
    justify-content: flex-start;
  }
}
.experience__icon {
  width: 48px;
  height: 48px;
}
.experience__meaning {
  font-size: var(--size5);
  color: var(--color2);
  line-height: 57px;
}
@media (max-width:1024px) {
  .experience__meaning {
    font-size: var(--size4);
  }
}
.experience__text{
  font-size: var(--size2);
  line-height: 24px;
}

/* SECTION ADVICE */

.advice {
  padding: 125px 0 80px 0;;
}
@media (max-width:500px) {
  .advice {
    padding: 60px 0;;
  }
}
.advice__items {
  width: 100%;
  margin-top: 45px;
  column-gap: 35px;
}
@media (max-width:1024px) {
  .advice__items {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
  }
}
@media (max-width:500px) {
  .advice__items {
    grid-template-columns: 1fr;
    gap:20px;
  }
}
.advice__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  background-color: #fff;
}
.advice__description{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  row-gap: 15px;
}
.advice__subtitle {
  font-size: var(--size2);
  line-height: 24px;
  align-self:flex-start;
  letter-spacing: 1.3px;
}
@media (max-width:1024px) {
  .advice__subtitle {
    align-self: center;
  }
}
.advice__text {
  line-height: 20px;
  font-weight: var(--weight1);
  letter-spacing: 1.3px;
}

/* SECTION ABOUT */

.about {
  padding: 100px 0 136px 0;
  background-color: #fff;
}
@media (max-width:500px) {
  .about {
    padding: 60px 0;
  }
}
.about__items {
  display: grid;
  grid-template-columns: minmax(600px,auto) minmax(333px,auto);
  column-gap: 120px;
  margin-top: 100px;
}
@media (max-width:1024px) {
  .about__items {
    grid-template-columns: 1fr;
  }
}
@media (max-width:500px) {
  .about__items {
    grid-template-columns: 1fr;
    margin-top: 25px;
  }
}
.about__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.trust {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  text-align: left;
}
@media (max-width:500px) {
  .trust {
    row-gap: 10px;
  }
}
.trust__title{
  padding: 20px 0;
}
@media (max-width:500px) {
  .trust__title {
    text-align: center;
  }
}
.trust__item {
  display: flex;
  column-gap: 30px;
  line-height: 24px;
}
@media (max-width:1024px) {
  .trust__item {
    justify-content: center;
  }
}
@media (max-width:500px) {
  .trust__item {
    column-gap: 15px;
  }
}
.trust__icon{
  width: 32px;
  height: 32px;
}
.trust__subtitle p:nth-child(1){
  font-size: var(--size2);
  color: var(--color2);
  margin-bottom: 5px;
}

/* SECTION CLIENTS */

.clients {
  background-color: #fafafa;
}
.clients__icons {
  display: flex;
  column-gap: 30px;
  padding: 50px 0;
  text-align: center;
  align-items:center;
}
@media (max-width:1024px) {
  .clients__icons {
    column-gap: 15px;
  }
}
@media (max-width:500px) {
  .clients__icons {
    column-gap: 30px;
  }
}
.clients__icon{
  flex:1;
  width: 100%;
  height: auto;
}
@media (max-width:500px) {
  .clients__icons {
     flex-wrap: wrap;
     padding: 25px 0;
  }
  .clients__icon img{
    max-width: 50px;
  }
}
.form {
  display: flex;
  color:var(--color5);
  margin: 0 32px;
  position: relative;
}
@media (max-width:500px) {
  .form {
  margin: 0 15px;
  }
}
.form__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 50px;
  background-color: #17213C;
  position: absolute;
  top: 20px;
}
@media (max-width:500px) {
  .form__wrapper {
    flex-direction: column;
    row-gap: 15px;
    align-items:center;
    padding: 10px;
    text-align: center;
  }
}
.form__name {
  max-width: 266px;
  font-size: var(--size4);
}
@media (max-width:500px) {
  .form__name {
    font-size: var(--size3);
  }
}
.form__getData {
  display: flex;
  width: 450px;
}
@media (max-width:500px) {
  .form__getData {
  width: 100%;
  height: 35px;
  }
}
.form__input {
  padding-left: 20px;
  width: 100%;
  border-radius: 5px 0 0 5px;
}
.form__button {
  display: block;
  width: 117px;
  background-color:var(--color4);
  color:var(--color5);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: .4s;
}
.form__button:hover {
  transition: .4s;
  border: 2px dashed rgba(255, 123, 71, 1);
  background-color: #fff;
  color: rgba(255, 123, 71, 1);
 }
.clients__row {
  width: 100%;
  height: 77px;
  background-color:rgba(37, 43, 66, 1);
  margin-top: 80px;
}

/* SECTION GET IN TOUCH */

.getInTouch{
  background-color: #f3f3f3;
  padding: 80px 0 148px 0;
}
@media (max-width:500px) {
  .getInTouch{
    padding: 60px 0;
  }
}
.getInTouch__items{
  margin-top: 80px;
  column-gap: 0;
  padding: 0 32.5px;
}
@media (max-width:500px) {
  .getInTouch__items{
    padding: 0 15px;
    margin-top: 35px;
  }
}
@media (max-width:1024px) {
  .getInTouch__items{
    padding: 0;
  }
}
.getInTouch__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 40px;
  row-gap: 15px;
  margin: 30px 0 30px 0;
  background-color: #fff;
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width:1024px) {
  .getInTouch__item{
    padding: 50px 10px;
  }
}
.getInTouch__subtitle{
  font-size: var(--size2);
  color: var(--color2);
  line-height: 24px;
  transition: 0.5s;
}
.getInTouch__address{
  font-weight: var(--weight2);
  line-height: 24px;
}
.getInTouch__button{
   width: 160px;
  height: 44px;
  border: 1px solid var(--color4);
  border-radius: 5px;
  color: var(--color4);
  font-weight: var(--weight2);
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.getInTouch__item:hover{
  background-color: rgba(37, 43, 66, 1);
  color: #ffffff;
  margin: 0;
  align-self: stretch;
  padding: 80px 40px;
}
@media (max-width:1024px) {
  .getInTouch__item:hover{
    padding: 80px 10px;
  }
}
.getInTouch__item:hover .getInTouch__subtitle{
  color: #fff;
}
.getInTouch__item:hover .getInTouch__button{
  color: #fff;
  border: 1px solid #fff;
}
.getInTouch__item:hover .getInTouch__button:hover{
  border: 10px solid #fff;
  transition: 0.5s;
}
.getInTouch__item:nth-child(2) .getInTouch__icon{
  filter: invert(26%) sepia(15%) saturate(5260%) hue-rotate(152deg) brightness(35%) contrast(90%);
  transition: 0.5s;
}
.getInTouch__item:hover .getInTouch__icon{
  filter:brightness(25);
}

/* SECTION AGENCY FOR BUSINESS*/

.agencyForBusiness{
  background-color: #fafafa;
}
.agencyForBusiness__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
@media (max-width:500px) {
  .agencyForBusiness__items{
    text-align: center;
  }
}
.agencyForBusiness__item{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.agencyForBusiness__title{
  font-size: var(--size4);
  color: var(--color2);
  line-height: 32px;
}
.agencyForBusiness__text{
  font-weight: var(--weight1);
  line-height: 20px;
}
.agencyForBusiness__button{
  width: 163px;
  height: 58px;
  margin: 1px 21px;
  color: var(--color5);
  background-color: rgba(255, 123, 71, 1);
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}
.agencyForBusiness__button:hover {
  transition: .4s;
  border: 2px dashed rgba(255, 123, 71, 1);
  background-color: #fff;
  color: rgba(255, 123, 71, 1);
}

/* SECTION INFO*/

.info{
  background-color: rgba(37, 43, 66, 1);
}
.info__items{
  display: grid;
  grid-template-columns: repeat(4, minmax(148px,auto)) 1fr;
  column-gap: 30px;
  padding: 50px 0;
}
.info__item{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width:1024px) {
  .info__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px
  }
}
@media (max-width:500px) {
 .info__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2px;
  }
  .info__item{
    width: 49%;
  }
  .info__item:nth-child(5){
    width: 100%;
    padding: 0 20px;
  }
}
.info__title{
  font-size: var(--size2);
  color: var(--color5);
  line-height: 24px;
}
@media (max-width:500px) {
  .info__title{
    text-align: center;
    text-decoration: underline;
  }
}
@media (max-width:1024px) {
  .info__title{
    text-align: center;
    text-decoration: underline;
  }
}
.info__text{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: var(--color5);
  font-weight: var(--weight2);
  line-height: 24px;
}
@media (max-width:500px) {
  .info__text{
    text-align: center;
    row-gap: 1px;
  }
}
.info__text a:hover{
  color:rgb(155, 176, 238);
  transition: 0.6s;
}
.contacts__item{
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 10px;
  line-height: 14px;
}

/* FOOTER*/

.footer{
  padding: 25px;
}
.footer__items{
  display: flex;
  justify-content: space-between;
  align-items: center
}
.footer__left{
  font-size: 14px;
}
@media (max-width:500px) {
  .footer__left{
    text-align: center;
  }
}
.footer__right{
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 0 40px;
}
.footer__icon{
  display: flex;
  height: 24px;
  align-items: center;
}

 
 